*{
  font-family: "Courier Prime", monospace;
  block-size: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-colour: #F5F5F5;
  padding: 20px;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
}

body {
  margin-top: 80px;
}

#banner {
background-colour: #AB739B;
  text-align: center;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner h2 {
  font-size: 70px;
  color: #f5f5f5;
}
