*{
  font-family: "Courier Prime", monospace;
  block-size: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-colour: #F5F5F5;
  padding: 20px;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
}

body {
  margin-top: 80px;
}

#banner {
background-colour: #AB739B;
  text-align: center;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner h2 {
  font-size: 70px;
  color: #F5F5F5;
} /* insert different typeface here if u want*/

#container {
  display: grid;
  grid-template-columns:
    80% 20%;
}
#text {
  padding: 30px;
}

nav {
  background-colour: #F5F5F5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav img {
  margin: 20px 0px;
  width: 100%;
} 
/* add image tags in html make them square
<nav>
<img src="imagename.jpg" alt="">
</nav>
</div> */
